#main {
    padding: 20px;
}

div.gameContainer {
    margin: auto;
    border: 3px black solid;
    height: 400px;
    width: 400px;
    position: relative;

}

div.gameContainer a:visited{
    color: red;
    background-color: green;
    outline-color: green;
}


div.gameContainer a{
    color: white;
    font-size: 400%;
    text-decoration: none;
}

#hungry {
    color: blue;
    font-size: 300%;
    text-align: center;
}

#hungryContainer {
    /* border: 3px black solid; */
    height: 100px;
    margin: auto;
}





@-webkit-keyframes link1Animation {
    0% { -webkit-transform: rotate(0); top:0px; }
    25% { -webkit-transform: rotate(180deg); top:50px;}
    50% { -webkit-transform: rotate(360deg); top:100px;}
    75% { -webkit-transform: rotate(540deg); top:50px;}
    100% { -webkit-transform:  rotate(720deg); top:0px;}

}

@-webkit-keyframes rotate1 {
    /* 0% { top: 0; } */
    /* 25% { top: 5; } */
    /* 50% { top: 10; } */
    /* 75% { top: 20; } */
    /* 100% { top: 0; } */
    0% { -webkit-transform: rotate(0); top:0;}
    49% { -webkit-transform: rotate(180deg); }
    100% { -webkit-transform: rotate(360deg); }
}

#link1Animation {
    position: absolute;
    width: 50px;
    -webkit-transform-origin: center;
    -moz-animation: link1Animation 3s linear 0s infinite;
    -webkit-animation: link1Animation 3s linear 0s infinite ;
    /* -webkit-animation: rotate1 1s linear 0s infinite; */
}


@-webkit-keyframes link2Animation {
    0% { -webkit-transform: rotate(0deg); top:20px; left:200px; }
    25% { -webkit-transform: rotate(20deg); top:80px; left:100px}
    50% { -webkit-transform: rotate(0deg); top:200px; left:120px}
    75% { -webkit-transform: rotate(-20deg); top:80px; left:160px}
    100% { -webkit-transform:  rotate(0deg); top:20px; left:200px}

}

#link2Animation {
    position: absolute;
    width: 50px;
    -webkit-transform-origin: center;
    -webkit-animation: link2Animation 5s linear 0s infinite ;
}



.star {
    position: absolute;
    top: 100px;
    left: 20px;
    display: none;
}



/* .rotate { */
/*     -webkit-animation: rotate1 .5s linear 0s infinite; */
/* } */

.link2 {
    
}